export default function <%= singular_class_name %>ListItem({
  <%= singular_camel_name %>,
}) {
  return (
    <div>
      <div>{<%= singular_camel_name %>.title}</div>
        <<%= singular_class_name %>DeliveryDate
        <%= singular_camel_name %>={<%= singular_camel_name %>}
      />
    </div>
  );
}

rails g braindamage:ui task --reference=project
